* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body, html, main {
    font-family: 'Source Code Pro', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    height: 100vh;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    transform: translateZ(0);
}

/* --- RESPONSIVE ADJUSTMENTS --- */
@media (max-width: 768px) {
    h1 { font-size: 12vw; }
    h2 { font-size: 8vw; }
    h3 { font-size: 6vw; }
    h4 { font-size: 5vw; }
    p { font-size: 3vw; }
    .navbar a { font-size: 3vw; }
}



/* ---- HEADER ---- */
header {
    background: black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 1%;
    margin: 1%;
    font-size: 2vw;
}
.navbar a:hover, .navbar a:active {
    background: white;
    color: black;
    border-radius: 5%;
}

/* ---- MAIN ---- */
h1 { font-size: 10vw; text-transform: uppercase;}
h2 { font-size: 6vw;}
h3 { font-size: 4vw; }
h4 { font-size: 3vw; }
p { font-size: 2vw; }
img {
    max-width: 100%;
    height: auto;
}

/* ---- PARALLAX ---- */
.parallax {
    height: 100%;
    perspective: 1px;
    -webkit-perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform .5s;
}
.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax_layer_deep {
    transform: translateZ(-2px) scale(3);
    -webkit-transform: translateZ(-2px) scale(3);
    z-index: 0;
}
.parallax_layer_background {
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
    z-index: 1;
}
.parallax_layer_content {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 2;
}
.parallax_layer_front {
    transform: translateZ(1px) scale(.7);
    -webkit-transform: translateZ(1px) scale(.7);
    z-index: 3;
}
.parallax_layer_top {
    transform: translateZ(2px) scale(-1);
    -webkit-transform: translateZ(2px) scale(-1);
    z-index: 4;
}

/* ---- PROFILE ---- */
#profile_section .parallax_layer_deep {
    background-image: url("blackgreenblue.png");
    background-attachment: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#profile_section .container {
    display: grid;
    position: relative;
    grid-template: 1fr 2fr;
    height: 100vh;
    place-items: center;
    top: -6%;
    padding: 1vw;
}
img[src="profile_.png"] {
    display: grid;
    position: relative;
    object-fit: 100%;
    max-width: 100%;
    grid-column: 1;
}
#profile_section .title {
    grid-column: 2;
    padding: 1vw;
}
#profile_section .title h1 {
    font-size: 10vw;
    margin-bottom: 2vw;
}
#profile_section p {
    font-size: 2.1vw;
    margin-bottom: 1vw
}
#profile_section .btn {
    position: absolute;
    bottom: 10vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}
#profile_section .btn a {
    background: transparent;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 8vw;
    opacity: .8;
}


/* ---- SKILLS ---- */
#skills_section .parallax_layer_content {
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 85vw;
}
#skills_section .container {
    background-color: black;
    display: grid;
    position: relative;
    margin: 4vw;
}
#skills_section .description {
    place-self: center;
    overflow-wrap: break-word;
    margin: 2vw 14vw;
    padding: 3vw;

}
#skills_section .symbols {
    display: grid;
    place-self: center;
    grid-row-gap: 6vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 5vw 24vw;
}
#skills_section .symbols i {
    border: .3vw white solid;
    border-radius: 10%;
    font-size: 7vw;
    padding: 1.3vw;
    place-self: center;
}

/* ---- PORTFOLIO ---- */
#portfolio .parallax_layer_background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("blackgreenblue_flipped.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: -18vw;
}
#portfolio .parallax_layer_content {
    display: grid;
    position: relative;
    border: .3vw purple solid;
    margin: 2vw;
    margin-top: 26vw;
}
#portfolio .container {
    display: grid;
    position: relative;
    border: .3vw green solid;
}
#portfolio .title {
    display: grid;
    position: relative;
    font-size: 10vw;
    text-transform: uppercase;
    border: .3vw orange solid;
}
#portfolio .parallax_layer_front {
    display: grid;
    position: relative;
    border: .3vw pink solid;
}