* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body, html, main {
    font-family: 'Source Code Pro', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    height: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    transform: translateZ(0);
}

/* ---- HEADER ---- */
header {
    background: black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 1%;
    margin: 1%;
    font-size: 2vw;
}
.navbar a:hover {
    background: white;
    color: black;
    border-radius: 5%;
}
.navbar a:active {
    background: white;
    color: black;
    border-radius: 5%;
}

/* ---- MAIN ---- */
h1 {
    font-size: 10vw;
}
h2 {
    font-size: 6vw;
}
h3 {
    font-size: 4vw;
}
h4 {
    font-size: 3vw;
}
p {
    font-size: 2vw;
}

/* ---- PARALLAX ---- */
.parallax {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    -webkit-perspective: 1px;
}
.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform .5s;
}
.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax_layer_deep {
    transform: translateZ(-2px) scale(3);
    -webkit-transform: translateZ(-2px) scale(3);
    z-index: 0;
}
.parallax_layer_background {
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
    z-index: 1;
}
.parallax_layer_content {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 2;
}
.parallax_layer_foreground {
    transform: translateZ(1px) scale(.7);
    -webkit-tranform: translateZ(1px) scale(.7);
    z-index: 3;
}
.parallax_layer_top {
    transform: translateZ(2px) scale(1.5);
    -webkit-tranform: translateZ(2px) scale(1.5);
    z-index: 4;
}

/* ---- PROFILE ---- */
#profile_section .parallax_layer_deep {
    background-image: url("blackgreenblue.png");
    background-attachment: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#profile_section .container {
    display: grid;
    position: relative;
    grid-template: 1fr 2fr;
    height: 100%;
    place-items: center;
    place-content: center;
    top: -6%;
    padding: 1vw;
}
img[src="profile_.png"] {
    display: grid;
    position: relative;
    object-fit: 100%;
    max-width: 100%;
    grid-column: 1;
}
#profile_section .title {
    display: grid;
    position: relative;
    grid-column: 2;
    padding: 1vw;

}
#profile_section .title h1 {
    font-size: 10vw;
    place-self: center;
    margin-bottom: 2vw;
    text-transform: uppercase;
}
#profile_section p {
    display: grid;
    grid-column: 2;
    font-size: 2.1vw;
    margin-bottom: 1vw
}
#profile_section .btn a {
    background: transparent;
    position: relative;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 5vw;
    opacity: .8;
}


/* ---- SKILLS ---- */
#skills_section .parallax_layer_content {
    background-color: black;
    background-attachment: relative;
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 85vw;
}
#skills_section .container {
    background-color: black;
    display: grid;
    position: relative;
    margin: 4vw;
}
#skills_section .description {
    place-self: center;
    overflow-wrap: break-word;
    margin: 2vw 14vw;
    padding: 3vw;

}
#skills_section .symbols {
    display: grid;
    place-self: center;
    grid-row-gap: 6vw;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 5vw 24vw;
}
#skills_section .symbols i {
    border: white .3vw solid;
    border-radius: 10%;
    font-size: 7vw;
    padding: 1.3vw;
    place-self: center;

}

/* ---- PORTFOLIO ---- */
#portfolio .parallax_layer_background {
    background-image: url("blackgreenblue_flipped.png");
    background-attachment: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: -18vw;
}
#portfolio .parallax_layer_content {
    position: relative;
    border: purple 1px solid;
    margin: 2vw;
    margin-top: 26vw;
}
#portfolio .container {
    display: grid;
    position: relative;
    border: green 3px solid;
}
#portfolio .title {
    display: grid;
    position: relative;
    font-size: 10vw;
    text-transform: uppercase;
    border: orange 1px solid;
}
#portfolio .parallax_layer_front {
    display: grid;
    position: relative;
    border: pink 1px solid;
}