* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body, html, main {
    font-family: 'Source Code Pro', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    height: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    transform: translateZ(0);
}

/* ---- HEADER ---- */
header {
    background: black;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 5px 0;
    z-index: 10;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    font-size: 16px;
}
.navbar a:hover {
    background: white;
    color: black;
    border-radius: 5px;
}
.navbar a:active {
    background: white;
    color: black;
    border-radius: 5px;
}

/* ---- PARALLAX ---- */
.parallax {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    -webkit-perspective: 1px;
}
.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform .5s;
}
.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax_layer_deep {
    transform: translateZ(-2px) scale(3);
    -webkit-transform: translateZ(-2px) scale(3);
    z-index: 0;
}
.parallax_layer_background {
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
    z-index: 1;
}
.parallax_layer_content {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 2;
}
.parallax_layer_foreground {
    transform: translateZ(.9px) scale(.7);
    -webkit-tranform: translateZ(.9px) scale(.7);
    z-index: 3;
}
.parallax_layer_top {
    transform: translateZ(2px) scale(1.5);
    -webkit-tranform: translateZ(2px) scale(1.5);
    z-index: 4;
}

/* ---- PROFILE ---- */
#profile_section .parallax_layer_deep {
    background-image: url("blackgreenblue.png");
    background-attachment: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
#profile_section .parallax_layer_background {
    height: 100vh; 
}
#profile_section .container {
    display: grid;
    position: relative;
    grid-template: 1fr 2fr;
    gap: 10px;
    place-items: center;
    place-content: center;
}
img[src="profile_.png"] {
    display: grid;
    height: 370px;
    grid-column: 1;
}
#profile_section .title {
    display: grid;
    grid-column: 2;
    border-radius: 10px;
    padding: 10px;
}
#profile_section .title h1 {
    font-size: 100px;
    place-self: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}
#profile_section p {
    display: grid;
    grid-column: 2;
    font-size: 20px;
    margin-bottom: 5px;
}
#profile_section .btn a {
    background: transparent;
    position: absolute;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 55px;
    opacity: .8;
    bottom: 15%;
}
/* ---- SKILLS ---- */
#skills_section .parallax_layer_content {
    background-color: black;
    background-size: contain;
    background-position: relative;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    place-self: center;
    font-size: 30px;
}
#skills_section .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#skills_section .description {
    margin-top: 10px;
    padding: 25px; 
    margin-left: 160px;
    margin-right: 160px;
    place-self: center;
    overflow-wrap: break-word;
    font-size: 20px;
}
#skills_section .symbols {
    display: grid;
    padding: 30px;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    place-self: center;
    grid-row-gap: 40px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
#skills_section .symbols i {
    border: white 1px solid;
    padding: 10px;
    height: 50px;
    font-size: 50px;
}

/* ---- PORTFOLIO ---- */
#portfolio .parallax_layer_background {
    background-image: url("blackgreenblue_flipped.png");
    background-attachment: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
}
#portfolio .parallax_layer_content {
    margin-top: 50px;
    color: white;
    border: white 1px solid;
    font-size: 16px;
}
#portfolio .container {

}
#portfolio .title

#portfolio .column

#portfolio .parallax_layer_foreground
#portfolio #project1
#portfolio #project1 img
#portfolio #project1 .description

#portfolio #project2
#portfolio #project2 img
#portfolio #project2 .description

#portfolio #project3
#portfolio #project3 img
#portfolio #project3 .description