/* FULL PAGE */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
}
body, html, main {
  font-family: 'Source Code Pro', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  height: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  transform: translateZ(0);
}

/* HEADER */
#header {
  background: transparent;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 9;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  font-size: 16px;
}
.navbar a:hover {
  background: white;
  color: black;
  border-radius: 5px;
}

/* PARALLAX */
.parallax {
  perspective: 1px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  scroll-behavior: smooth;
}
.parallax_group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform .5s;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--fore {
  -webkit-transform: translateZ(1px) scale(.7);
  transform: translateZ(1px) scale(.7);
  z-index: 1;
}
.parallax__layer--text {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 2;
}
.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  z-index: 0;
}
.parallax__layer--deep {
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
  z-index: -1;
}

/* MAIN */
.container {
  display: grid;
  height: 450px;
  gap: 10px;
  place-items: center;
  place-content: center;
}

/* SLIDE 0 */
#slide0 .container {
  display: grid;
  grid-template: 1fr 2fr;
  padding-top: 20px;
  margin: 50px;
}
img[src="profile_.png"] {
  display: grid;
  height: 370px;
  grid-column: 1;
}
#slide0 .title {
  display: grid;
  grid-column: 2;
}
#slide0 .title h1 {
  font-size: 100px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
#slide0 .title p {
  font-size: 16px;
  margin-bottom: 15px;
}
#slide0 .parallax__layer--back {
  background-image: url("blackgreenblue.png");
  background-attachment: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  opacity: .75;
  z-index: 0;
}

/* SLIDE 1 */
#slide1 {
  display: grid;
  z-index: 5;
  border: white 1px solid;
}
#slide1 .parallax__layer--text {
  z-index: 4;
  color: white;
  border: white 1px solid;
}
#slide1 .container {
  display: grid;
  border: white 1px solid;
}
#slide1 .title h2 {
  font-size: 50px;
  margin-bottom: 25px;
  text-transform: uppercase;
  border: white 1px solid;
}

#slide1 .parallax_layer--back {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  z-index: 0;
  border: white 1px solid;
}

/* SLIDE 2 */
#slide2 .container{
  display: grid;
  grid-template-columns: 3(1fr);
  padding-top: 20px;
  margin: 50px;
}
.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  padding-top: 20px;
  margin: 50px;
}
.project {
  display: grid;
  border: 1px solid white;
  width: 80%;
  grid-row: 1;
}
.column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
.column #project1 {
  display: grid;
  grid-column: 1;
}
.column #project2 {
  display: grid;
  grid-column: 2;
}
#project3 {
  display: grid;
  grid-column: 3;
}

/* SLIDE 3 */
.resume {
  display: grid;
  grid-template: 1fr 2fr;
  padding-top: 20px;
  margin: 50px;
}

/* CONTACT FORM */
label {
  font-size: 14px;
  color: gray;
  display: block;
  margin-top: 10px;
}


/*
.form-container input, textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

.form-container input:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background: white;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  opacity: 0.8;
}

.form-container .btn:hover {
  background: gray;
}

.form-container .cancel {
  background: #bcb8b1;
  color: white;
}
